html, body
{
    margin:0px;
}


.rmItem
{
    text-transform:uppercase !important;
}


a{
    color:rgba(0,0,0,0.75);
    text-decoration:none;
}
.rmText,body
{
    font-family:'Trebuchet MS';
    font-size:14px;
}

.messageBox{
    background-color:#f2f2f2; 
    padding:10px;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border:1px solid #CCC;
    
    display:block;
}

.btnCheckForChanges,.btnCheckForChanges,.btnResetToDefault{
    border:none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color:#fff;
    font-family:'Trebuchet MS';
    cursor:pointer;
    width:200px;

}

.btnCheckForChanges:hover,.btnCheckForChanges:hover,.btnResetToDefault:hover{
     -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);

}

.btnCheckForChanges{

    background-color:#00b12a;

}

.btnResetToDefault{
    background-color:#09F;
}

btnSave{
    background-color:#005f2e;
    color:#005f2e;
}

.content
{
    margin:0 auto;
    width:960px;
    position:relative;
    z-index:1000;
    top: 13px;
    left: 2px;

  

    -webkit-box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);


 background-image:url('images/container_bg.png');

 padding-top:20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


@media only screen and (min-width : 1200px) {

    .content
    {
        margin:0 auto;
        width:980px;
         padding:15px;
  
   
        position:relative;
        z-index:1000;
        top: 10px;
    

        min-height:700px;

        -webkit-box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 32px 2px rgba(0,0,0,0.75);
        

    border: 0px solid #000000;
    background-image:url(images/container_bg.png);

    }

}


.divGroupBlockHeaderSmall
{

    background-color:#F2F2F2;

border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;

padding:10px;
border:1px solid #ccc;
font-size:12px;
text-align:center;
font-weight:bold;

text-transform:uppercase;

}



.divGroupBlock {

    display:block;  

}

.divGroupBlockHeader
{
background-color:#ccc;        
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;

padding:12px;
border:1px solid #ccc;
font-size:13px;
text-align:center;
font-weight:bold;

text-transform:uppercase;


}

.divGroupBlockBody {

    background-color:#ffffff;
    vertical-align:middle;

    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;

    border:1px solid #ccc;   

    margin:0 auto;
    margin-bottom:10px;
    margin-top:3px;

    padding:10px;


}



.companyName{
    font-size:15px;    
}


.employeeNumber{
    font-size:16px;
    font-weight:bold;
    color:#ad0000;
}

.employeeName, .employeeDesignation {
    font-size: 22px;
    font-weight: bold;
}
   

.employeeName
{
    color:#0394ae;
}

.employeeDesignation{ 
    color:#808080;
    margin-left:20px;
}

.employeeStatus{
    color:#019764;  font-size:16px;
    text-transform:uppercase;
}

.profileImageContainer{
   
   
    padding:5px;
    position:relative;

}

.profileImage {
    border-radius: 10px;
    border: 2px solid #0394ae;
    padding: 5px; 
    width: 120px;
    height: 120px; 
    background-color:#fff;
}

hr.shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

hr.line {
    border: 0;
    height: 1px;
    background;
}

hr.line {
     border-style: none;
    border-color: inherit;
    border-width: 0;
    background-position: 0% 0%;
    height: 1px;
    background-image: -o-linear-gradient(left, #ccc, #ccc, #ccc); 
    margin-top: 0px;
    background-color: #ccc;
    background-repeat: repeat;
    background-attachment: scroll;
}

