.modal
{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.8;
    -moz-opacity: 0.8;
    margin-left:-10px !important;
}
.center
{
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 100px !important;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
.center .img
{
    height: 100px;
    width: 100px;

     filter: alpha(opacity=100) !important;
    opacity: 1 !important;
    -moz-opacity: 1 !important;
   
}